SECRET_KEY=+jtdiuho*l-0_%97w^%!ctlxq7m&2_=lo4o^u*d4fco*9%
DEBUG=False

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=telegram_database
DB_USER=postgres
DB_PASSWORD=telegram_password
DB_HOST=telegram_db
DB_PORT=5432

SMS_BASE_URL=z3asdf1n6.api.infobip.com
SMS_API_KEY=8ad517901b21d2sadfasdf8dab3995e1a3ba4c9a-2c3e813c-7841-438a-bbb4-2223701f9d03

REDIS_HOST=telegram_redis_host
REDIS_PORT=6379
REDIS_DB=0

DJANGO_SUPERUSER_EMAIL=adminuser@gmail.com
DJANGO_SUPERUSER_PASSWORD=admin123

FERNET_KEY=fQtp71cfzjYBRO4NPk50suHWfSkHBCy_JBPCf7xpm9I=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=abdulazizkomilov2001@gmail.com
EMAIL_HOST_PASSWORD=vphniqstzwhuddyt


ACCOUNT_SID=AC8ac82a9fc75asdf9aaf84ab705ba8a3c13
AUTH_TOKEN=de4bd40a020e6asdfdd2a0910c546594d
SERVICE_SID=VAd2e8ae742aasdfb28453d0ae8b0e32d89
