celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
Django==4.2
django-celery-beat==2.7.0
django-cors-headers==4.4.0
django-redis==5.4.0
djangochannelsrestframework==1.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
pillow==10.4.0
python-dateutil==2.9.0.post0
python-decouple==3.8
psycopg2-binary==2.9.10
redis==5.1.1
whitenoise==6.7.0
requests==2.31.0
fcm-django==2.2.1
firebase-admin==6.5.0
sentry-sdk==2.16.0
gunicorn==23.0.0
cryptography
uvicorn
twilio
django-elasticsearch-dsl==8.0
pytest==8.2.1
pytest-order==1.3.0
pytest-json-report==1.5.0
factory-boy==3.3.0
pytest-factoryboy==2.7.0
pytest-mock==3.14.0
Faker==25.9.2
fakeredis==2.23.3
pytest-django
anyio
pytest-asyncio
PyJWT
pytest-redis
